USE [master]
GO
/****** Object:  Database [Std_info_sys]    Script Date: 2025/7/6 上午 11:12:34 ******/
CREATE DATABASE [Std_info_sys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'std_info_sys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\std_info_sys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'std_info_sys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\std_info_sys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Std_info_sys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Std_info_sys]
GO
/****** Object:  User [std_info_sys]    Script Date: 2025/7/6 上午 11:12:34 ******/
CREATE USER [std_info_sys] FOR LOGIN [std_info_sys] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [std_info_sys]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Credits] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[MaxStudent] [int] NULL,
	[IsEnrollable] [bit] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollmentDate] [datetime] NULL,
	[StatusId] [int] NOT NULL,
	[Grade] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Enrollment] PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnrollmentStatus]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnrollmentStatus](
	[StatusId] [int] NOT NULL,
	[StatusName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_EnrollmentStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvitationCode]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitationCode](
	[InvitationCodeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatorUserId] [int] NOT NULL,
	[CreationDate] [datetime] NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_InvitationCode] PRIMARY KEY CLUSTERED 
(
	[InvitationCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvitationCodeUsage]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitationCodeUsage](
	[UsageId] [int] IDENTITY(1,1) NOT NULL,
	[InvitationCodeId] [int] NULL,
	[UserId] [int] NULL,
	[UsageDate] [datetime] NOT NULL,
 CONSTRAINT [PK_InvitationCodeUsage] PRIMARY KEY CLUSTERED 
(
	[UsageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2025/7/6 上午 11:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseId], [CourseName], [Description], [Credits], [TeacherId], [MaxStudent], [IsEnrollable]) VALUES (4, N'生物1', N'這是生物1課程描述 這是生物1課程描述 這是生物1課程描述 這是生物1課程描述 這是生物1課程描述 這是生物1課程描述 ', 9, 23, NULL, 1)
INSERT [dbo].[Course] ([CourseId], [CourseName], [Description], [Credits], [TeacherId], [MaxStudent], [IsEnrollable]) VALUES (6, N'物理3', N'這是物理3課程描述 這是物理3課程描述 這是物理3課程描述 這是物理3課程描述', 8, 11, NULL, 0)
INSERT [dbo].[Course] ([CourseId], [CourseName], [Description], [Credits], [TeacherId], [MaxStudent], [IsEnrollable]) VALUES (7, N'數學1', N'這是數學1課程描述 這是數學1課程描述 這是數學1課程描述 這是數學1課程描述 這是數學1課程描述', 10, 11, 50, 1)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([EnrollmentId], [StudentId], [CourseId], [EnrollmentDate], [StatusId], [Grade], [Comments], [UpdatedDate]) VALUES (11, 10, 7, CAST(N'2025-06-30T12:33:42.873' AS DateTime), 2, NULL, NULL, CAST(N'2025-06-30T12:33:42.873' AS DateTime))
INSERT [dbo].[Enrollment] ([EnrollmentId], [StudentId], [CourseId], [EnrollmentDate], [StatusId], [Grade], [Comments], [UpdatedDate]) VALUES (14, 10, 4, CAST(N'2025-06-30T12:56:06.123' AS DateTime), 3, 98, N'請準時交作業', CAST(N'2025-06-30T12:56:06.123' AS DateTime))
INSERT [dbo].[Enrollment] ([EnrollmentId], [StudentId], [CourseId], [EnrollmentDate], [StatusId], [Grade], [Comments], [UpdatedDate]) VALUES (16, 13, 4, CAST(N'2025-06-30T12:57:55.680' AS DateTime), 1, NULL, NULL, CAST(N'2025-06-30T12:57:55.680' AS DateTime))
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
INSERT [dbo].[EnrollmentStatus] ([StatusId], [StatusName]) VALUES (1, N'Enrolled')
INSERT [dbo].[EnrollmentStatus] ([StatusId], [StatusName]) VALUES (2, N'Withdrawn')
INSERT [dbo].[EnrollmentStatus] ([StatusId], [StatusName]) VALUES (3, N'Completed')
GO
SET IDENTITY_INSERT [dbo].[InvitationCode] ON 

INSERT [dbo].[InvitationCode] ([InvitationCodeId], [Code], [RoleId], [CreatorUserId], [CreationDate], [ExpirationDate], [IsUsed], [IsActive]) VALUES (4, N'KBPYNKCI', 3, 12, CAST(N'2025-06-27T00:07:39.460' AS DateTime), CAST(N'2025-07-03T16:07:00.000' AS DateTime), 0, 1)
INSERT [dbo].[InvitationCode] ([InvitationCodeId], [Code], [RoleId], [CreatorUserId], [CreationDate], [ExpirationDate], [IsUsed], [IsActive]) VALUES (5, N'T7BRM22O', 2, 12, CAST(N'2025-06-27T00:07:48.227' AS DateTime), CAST(N'2025-07-04T00:07:48.203' AS DateTime), 0, 1)
INSERT [dbo].[InvitationCode] ([InvitationCodeId], [Code], [RoleId], [CreatorUserId], [CreationDate], [ExpirationDate], [IsUsed], [IsActive]) VALUES (19, N'BLV0WG16', 2, 12, CAST(N'2025-06-29T17:48:08.717' AS DateTime), CAST(N'2025-07-05T17:47:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[InvitationCode] OFF
GO
SET IDENTITY_INSERT [dbo].[InvitationCodeUsage] ON 

INSERT [dbo].[InvitationCodeUsage] ([UsageId], [InvitationCodeId], [UserId], [UsageDate]) VALUES (3, 1020, 27, CAST(N'2025-07-05T18:26:39.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[InvitationCodeUsage] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Student')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Teacher')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [RoleId], [FirstName], [LastName], [Email], [DateOfBirth], [CreateDate]) VALUES (10, N'111', N'$2a$12$aX3gXDp3S/YSSSm9apbpJOikz2bukoUQwhGR7HdX/GpiK5yFNaUvO', 1, N'student333 ', N'student333', N'abc@abc', CAST(N'2025-06-19' AS Date), CAST(N'2025-06-25T17:28:34.037' AS DateTime))
INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [RoleId], [FirstName], [LastName], [Email], [DateOfBirth], [CreateDate]) VALUES (11, N'222', N'$2a$12$WQY5wrKKRmbtvwcsg3VXnOPQYSr1vav/X4GZLuYCZTGATgfupijBO', 2, N'Teacher', N'Teacher', N'qweasd@qweasd', CAST(N'2025-06-12' AS Date), CAST(N'2025-06-25T17:28:53.880' AS DateTime))
INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [RoleId], [FirstName], [LastName], [Email], [DateOfBirth], [CreateDate]) VALUES (12, N'333', N'$2a$12$mhradW6WkESl6qNYiSWWJe9G1aX6ouxwzJGv/ARigKLiXwGwo/7RS', 3, N'Admin', N'Admin', N'asd@asd', CAST(N'2025-06-12' AS Date), CAST(N'2025-06-25T17:29:06.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF_Enrollment_EnrollmentDate]  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF_Enrollment_Status]  DEFAULT ('Enrolled') FOR [StatusId]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF_Enrollment_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[InvitationCode] ADD  CONSTRAINT [DF_InvitationCode_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[InvitationCodeUsage] ADD  CONSTRAINT [DF_InvitationCodeUsage_UsageDate]  DEFAULT (getdate()) FOR [UsageDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Course]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_EnrollmentStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[EnrollmentStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_EnrollmentStatus]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_User] FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_User]
GO
ALTER TABLE [dbo].[InvitationCode]  WITH CHECK ADD  CONSTRAINT [FK_InvitationCode_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[InvitationCode] CHECK CONSTRAINT [FK_InvitationCode_Role]
GO
ALTER TABLE [dbo].[InvitationCode]  WITH CHECK ADD  CONSTRAINT [FK_InvitationCode_User] FOREIGN KEY([CreatorUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[InvitationCode] CHECK CONSTRAINT [FK_InvitationCode_User]
GO
ALTER TABLE [dbo].[InvitationCodeUsage]  WITH CHECK ADD  CONSTRAINT [FK_InvitationCodeUsage_InvitationCode] FOREIGN KEY([InvitationCodeId])
REFERENCES [dbo].[InvitationCode] ([InvitationCodeId])
GO
ALTER TABLE [dbo].[InvitationCodeUsage] CHECK CONSTRAINT [FK_InvitationCodeUsage_InvitationCode]
GO
ALTER TABLE [dbo].[InvitationCodeUsage]  WITH CHECK ADD  CONSTRAINT [FK_InvitationCodeUsage_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvitationCodeUsage] CHECK CONSTRAINT [FK_InvitationCodeUsage_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
